.bgimg {

  background-image: url('car.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family:  Courier ;
  font-size: 20px;

}

body, html {
    height: 100%;
    margin: 0;
  }

  .middle {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

  .button {
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family:  Courier;
    font-weight: 600;
  }