<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Servicing</title>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    
    <div class="bgimg">
    <div class="middle">
    <p>Click the button to get your coordinates.</p>

    <button class="button" onclick="getLocation()">Try It</button>
    
    <p id="demo"></p>
    </div>
    </div>
</body>
</html>